body {
	margin: 0;
	font-family: 'quicksandlight', 'quicksandlight_italic';
}

main {
	flex: 1 0 auto;
}

a {
	text-decoration: none;
}

#container {
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

@media screen and (max-width: 500px) {
	body {
		max-width: 500px;
	}
}